body{
    background-image: linear-gradient(to right, #16088b, #7502a7, #d7556d, #cf9645, #c5c544);
}

h2{
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 1);
    padding-top: 5px;
    padding-bottom: 5px;
    font-family:sans-serif;
    letter-spacing: 0.6px; 
}



.scatter-plot{
    background-image: linear-gradient(to right, #16088b, #7502a7, #d7556d, #cf9645, #c5c544);
}


#container-filters{
    display: flex;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}


#container-sliders{
    background-color: white;
    width: 100%;
    margin-left: 5%;
}



#container-selections{
    display: flex;
    flex-direction: column;
    width: 100%;
}

#container-theme-genres{
    width: 100%;
}

#container-theme-dropdown{
    display: inline-block;
    width: 30%;
}

#container-genre-dropdown{
    display: inline-block;
    width: 30%;
}

.rc-slider-track{
    background-image: linear-gradient(to right, #16088b, #7502a7, #d7556d, #fca836, #f2f122);
}

.rc-slider-rail{
    background-color: #00bfff;
}


.rc-slider-handle:hover {
    border-color: #ff00bf;    
}